{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeBeLog - {% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    <link rel="stylesheet" href="{% static 'styles/blog.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    
</head>
<body>

    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Main Page -->
    <main class="container flex">
        <!-- Left Page -->
        <section class="left-page">
            {% block left_page %}
            {% endblock %}
        </section>
        
        <!-- Right Page -->
        <section class="right-page make-border">
            {% block right_page %}{% endblock %}
        </section>
    </main>

</body>
</html>