{% extends 'base.html' %}
{% block page_title %} Create Post {% endblock %}

<!-- left page -->
{% block left_page %}

<!-- Post Create  -->
<section class="post-section">
    
    <div class="form">
        <div class="error-text">
            {{ msg | title}}
        </div>
        {% if post %}
           <!-- Edit Form -->
           <form class="create-form" action="{% url 'update_post' post.id %}" method="POST">
                <h1 class="form-title">Edit Blog</h1>
                <hr>
                {% csrf_token %}
                {{ form.as_p }}
                <input  class="save-btn" type="submit" value="Save">
                <a href="{% url 'my_post' %}" class="cancel-btn" >Cancel</a>
            </form>
        {% else %}
            <!-- Create Form -->
            <form class="create-form" action="/create/" method="POST">
                <h1 class="form-title">Create Blog</h1>
                <hr>
                {% csrf_token %}
                {{ form.as_p }}
                <input  class="save-btn" type="submit" value="Save">
                <a href="{% url 'my_post' %}" class="cancel-btn" >Cancel</a>
            </form>
        {% endif %}
    </div>
</section>
{% endblock %}


 
 