{% extends 'base.html' %}
{% block page_title %} Create Post {% endblock %}

<!-- left page -->
{% block left_page %}

<!-- Post Create  -->
<section class="post-section">
    
    <div class="form">
        <div class="error-text">
            {{ msg | title}}
        </div>
        {% if post %}
           <!-- Edit Form -->
           <form class="create-form" action="{% url 'update_post' post.id %}" method="POST">
                <h1 class="form-title">Edit Blog</h1>
                <hr>
                {% csrf_token %}
                {{ form.as_p }}
                <input  class="save-btn" type="submit" value="Save">
                <a href="{% url 'my_post' %}" class="cancel-btn" >Cancel</a>
            </form>
        {% else %}
            <!-- Create Form -->
            <form class="create-form" action="/create/" method="POST">
                <h1 class="form-title">Create Blog</h1>
               
                <hr>
                {% csrf_token %}
                {{ form.as_p }}
                <input  class="save-btn" type="submit" value="Save">
                <a href="{% url 'my_post' %}" class="cancel-btn" >Cancel</a>
            </form>
        {% endif %}
    </div>
</section>
{% endblock %}

<!-- right page -->
{% block right_page %}
<section class="sidebar">
     
    <!-- search -->
    <form class="search-form" action="/" method="GET">
        <input type="text" name="search" placeholder="Search Articles, Category...">
        <input type="submit" value="Search">
    </form>

    <!-- sidebar  -->
    <div class="sidebar-title">
        Stats
    </div>
    <div class="sidebar-block"> 
        <a href="#" class="badges-link">Total Posts {{ post_count }}</a>
        <a href="#" class="badges-link">Like {{ post_likes }}</a>
        <a href="#" class="badges-link">Followers {{ followers }} </a>        
        <a href="#" class="badges-link">Following {{ following }} </a>        
    </div>

</section>
{% endblock %}
 
 