{% extends 'base.html' %}
{% block page_title %} Dashboard {% endblock %}


<!-- left page -->
{% block left_page %}
<!-- Profile -->
<section class="profile-section">
    <div class="profile">
        <img src="{{ user.photo.url }}" alt="">
        <div class="profile-details">
            <div class="profile-name">{{ user.name | title}}</div>
            <div class="profile-email">{{ user.email }}</div>
            <div class="profile-stats">
                <button class="stats-btn">Posts {{ post_count }}</button>
                <button class="stats-btn">Likes 10</button>
                <button class="stats-btn">Follower 10</button>
                <button class="stats-btn">Following 15</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}


<!-- right page -->
{% block right_page %}
<section class="sidebar">
     
    <!-- search -->
    <form class="search-form" action="/" method="GET">
        <input type="text" name="search" placeholder="Search Articles, Category...">
        <input type="submit" value="Search">
    </form>

    <!-- sidebar  -->
    <div class="sidebar-title">
        Stats
    </div>
    <div class="sidebar-block"> 
        <a href="#">Total Post : 23</a>
        <a href="#">Like : 3</a>
        <a href="#">Follower : 3</a>        
        <a href="#">Following : 5</a>        
    </div>

</section>
{% endblock %}