{% extends 'base.html' %}
{% load static %}
{% block page_title %} Dashboard {% endblock %}


<!-- left page -->
{% block left_page %}

<!-- Profile -->
<section class="profile-section">
    {{ msg }}
    <div class="profile">
        <img src="{{ user.photo.url }}" alt="user logo">
        <div class="profile-details">
            <div class="profile-name">
                {{ user.name | title}} 
                <button id="editProfile" class="profile-edit-btn" onclick="editProfile()" >
                    <i class="fa-solid fa-pencil" ></i>
                </button>
                <div class="profile-edit-modal" id="myModal">
                    <form class="profile-edit" action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
                   
                      {% csrf_token %}
                      <div>
                        <span onclick="closeProfile()" class="close">&times;</span>
                      </div>
                     {{ form.as_p }}
                      <div>
                        <input type="submit" value="Edit Profile" class="save-btn">
                        <a href="#" onclick="closeProfile()" class="cancel-btn">Cancel</a>
                      </div>
                    </form>
                </div>
            </div>
            <div class="profile-email">{{ user.email }}</div>
            <div class="profile-stats">
                <button class="stats-btn">Posts {{ post_count }}</button>
                <button class="stats-btn">Likes {{ post_likes }}</button>
                <button class="stats-btn">Followers {{ followers }}</button>
                <button class="stats-btn">Following {{ following }}</button>
            </div>
        </div>
    </div>
</section>



<script>
function editProfile(){
    var modal = document.getElementById("myModal");
    modal.style.display = "block";
}

function closeProfile(){
    var modal = document.getElementById("myModal");
    modal.style.display = "none";
}

// function editProfile(){

//     var modal = document.getElementById("myModal");
//     var btn = document.getElementById("editProfile");
//     var spn = document.getElementsByClassName("close")[0];

//     btn.onclick = function() {
//     modal.style.display = "block";
//     }

//     spn.onclick = function() {
//     modal.style.display = "none";
//     }

//     window.onclick = function(event) {
//     if (event.target == modal) {
//         modal.style.display = "none";
//     }
//     }
// }


</script>
{% endblock %}



<!-- right page -->
{% block right_page %}
<section class="sidebar">
     
    <!-- search -->
    <form class="search-form" action="/" method="GET">
        <input type="text" name="search" placeholder="Search Articles, Category...">
        <input type="submit" value="Search">
    </form>

    <!-- sidebar  -->
    <div class="sidebar-title">
        Stats
    </div>
    <div class="sidebar-block"> 
        <a href="#" class="badges-link">Total Posts {{ post_count }}</a>
        <a href="#" class="badges-link">Like {{ post_likes }}</a>
        <a href="#" class="badges-link">Followers {{ followers }} </a>        
        <a href="#" class="badges-link">Following {{ following }} </a>        
    </div>

</section>
{% endblock %}

