<style>
    ul {
        display: flex;
        list-style: none;
    }
    ul li {
        padding: 10px 8px;
    }
</style>

<nav>
    <ul>
        <li>
            <a href="/create">Create Post</a>
        </li>
        <li>
            <a href="#">Hello, username</a>
        </li>
        <li>
            <a href="#">Login</a>
        </li>
        <li>
            <a href="#">Signup</a>
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
       

    </ul>
</nav>


<div class="blog-list">

    {% for post in posts %}
    <div class="blog">
        <h3><a href="view/{{ post.id }}">{{ post.title }} </a></h3>
        <a href="update/{{ post.id }}">Edit</a>
        <a href="delete/{{ post.id }}">Delete</a>
        <b>{{ post.updated_at | timesince }}</b>
        <p>{{ post.subtitle }}</p>
        <p>{{ post.description }}</p>
    </div>
    {% endfor %}

</div>