{% extends 'base.html' %}
{% load static %}
{% block title %} Home Page {% endblock %}
{% block blog %}
<section class="blog-section">
    {% for post in posts %}
    <div class="blog">
        <div class="blog-left">
            <img src="{% static 'images/logo/user1.jpg' %}" alt="User Logo">
        </div>
        <div class="blog-right">
            <div class="blog-header">
                <a href="#">{{ post.user.name }}</a>
                <p>{{ post.updated_at | timesince }}</p>
            </div>
            <div class="blog-body">
                <a href="#" class="blog-title">
                    {{ post.title }}
                </a>
                <div class="blog-subtitle">
                    {{ post.subtitle }}
                </div>
                <div class="blog-description">
                    {{ post.description }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}