{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeBeLog - Login </title>
    <link rel="stylesheet" href="{% static 'styles/login-signup.css' %}">
</head>
<body>

    <div>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-title">Log in to your account</div>
            {% if status == 'success' %}
                <div class="success-msg">{{ msg }}</div> 
            {% else %}
                <div class="error-msg">{{ msg }}</div> 
            {% endif %}
            <label>Email</label>
            <input type="email" name="email">
            <label>Password</label>
            <input type="password" name="password">
            <div class="form-signed"><input type="checkbox"> &nbsp; Stay signed in for a week </div>
            <div class="formLink">
                <a class="form-link" href="{% url 'signup' %}">Don't have an account ?</a> 
                <a class="form-link" href="#">Forgot your password ?</a>
            </div>
            <p></p>
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>

