<style>
    *,
    *::before,
    *::after {

        box-sizing: border-box;
        word-wrap: break-word;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    }

    body {
        font-family: Arial;
        background-color: lightcyan;
    }

    .form-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    form {
        max-width: 400px;
        background-color: white;
        padding: 20px 20px;
        margin: 0 auto;
        margin-top: 5rem;

    }

    label {
        font-size: 14px;
    }

    input[type=email],
    input[type=password] {
        display: block;
        margin: 10px 0;
        font-size: 14px;
        width: 100%;
        padding: 10px;
        border-color: lightgray;
        border-radius: 3px;
        border-style: solid;
        border-width: 0.2px;
    }

    .form-signed {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 14px;
        margin: 10px 0;
    }

    input[type=submit] {
        padding: 10px 10px;
        width: 100%;
        font-size: 14px;
        background-color: rgb(84, 105, 212);
        border: none;
        color: white;
        cursor: pointer;
        transition: opacity 0.125s;
    }

    input[type=submit]:hover {
        opacity: 0.8;
    }

    input[type=email]:focus-visible,
    input[type=password]:focus-visible {
        border: none;
    }

    .form-link {
        text-decoration: none;
        color: rgb(84, 105, 212);
        font-size: 14px;
    }
</style>

<div>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-title">Log in to your account</div>
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <div class="form-signed"><input type="checkbox">Stay signed in for a week </div>
        <p><a class="form-link" href="{% url 'signup' %}">Don't have an account ?</a></p>
        <p><a class="form-link" href="#">Forgot your password ?</a></p>
        <input type="submit" value="Continue">
    </form>
</div>