{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeBeLog - Signup </title>
    <link rel="stylesheet" href="{% static 'styles/login-signup.css' %}">
</head>
<body>

    <div>
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <div class="form-title">Create a new account 🚀</div>
            <div class="error-msg">{{ msg }}</div>
            {{ form.as_p }}
            <p><a class="form-link" href="{% url 'login' %}">Already have account?</a></p>
            <input type="submit" value="Signup">
        </form>
    </div>

</body>
</html>

