{% extends 'base.html' %}
{% load static %}
{% block title %} User Profile {% endblock %}
{% block blog %}

<style>
 

.user-profile {
  
  padding: 10px 20px;
}


user-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border: none;
  border-bottom: 1px solid lightgray;
}


.post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-details a {
    text-decoration: none;
color: lightskyblue;
font-size: 13px;
padding: 8px 10px;
border-radius: 5px;
font-weight: 500;
border: 1px solid #c4eeee;
}

</style>
<section class="container">
    {{ user }}
    <div class="user-profile">
        <div class="user-profile-header">
          <img src="" alt="user log">
          <h3>
           Smith
          </h3>
        </div>
        <hr>
        <div class="post-details">
          <a href="#">Total Post: 10</a>
          <a href="#">Follower: 14</a>
        </div>
      </div>
</section>
{% endblock %}