{% extends 'base.html' %}
{% load static %}
{% block title %} User Profile {% endblock %}
{% block blog %}

<section class="container">
    {{ user }}
    <div class="user-profile">
        <div class="user-profile-header">
          <img src="" alt="user log">
          <h3>
           Smith
          </h3>
        </div>
        <hr>
        <div class="post-details">
          <a href="#">Total Post: 10</a>
          <a href="#">Follower: 14</a>
        </div>
      </div>
</section>
{% endblock %}