{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block page_title %}  Post View {% endblock %}

<!-- left page -->
{% block left_page %}
<section class="blog-view">
    <div class="blog-view-header">
        <h1 class="blog-header-title"> {{ post.title|title }} </h1>
        <p> {{ post.updated_at | date }} | Views: {{ post.view }}</p>
    </div>
    <hr>
    <div class="blog-view-body">
        <div class="blog-subtitle">{{ post.subtitle }}</div>
        <div class="blog-description"> {{ post.description |  linebreaks  }} </div>
    </div>
    <hr>
    <div class="blog-view-footer">
        <img class="blog-img" src="{{ post.auther.photo.url }}" alt="User Logo">
        <p> Contributed By: <a href="#" class="make-link">@{{ post.auther.name }}</a> </p>
    </div>
</section>
{% endblock %}


<!-- right page -->
{% block right_page %}
<section class="sidebar">
    
    <!-- search -->
    <form class="search-form" action="/" method="GET">
        <input type="text" name="search" placeholder="Search...">
        <input type="submit" value="Search">
    </form>

    <!-- sidebar  -->
    <div class="sidebar-title">
    </div>
    <div class="sidebar-block">
         {% for cat in post.category.all %}
         <a href="/?search={{cat.name}}">{{ cat.name }}</a>
        {% endfor %}
    </div>

</section>
{% endblock %}