{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block page_title %}  Post View {% endblock %}



<!-- left page -->
{% block left_page %}

<section class="blog-view">
    <!-- Post Details -->
    <div class="blog-view-header"> 
        <h1 class="blog-header-title">{{ post.title|title }} </h1>
        <p> {{ post.updated_at | date }} |  
            <i class="fa-brands fa-teamspeak"></i> {{ post.view }}
        </p>
    </div>
    <hr>
    <div class="blog-view-body">
        <div class="blog-subtitle">{{ post.subtitle }}</div>
        <div class="blog-description"> {{ post.description |  linebreaks  }} </div>
    </div>
    <hr>
    <div class="blog-view-footer">
        <img class="blog-img" src="{{ post.auther.photo.url }}" alt="User Logo">
        <p> Contributed By: <a href="#" class="make-link">@{{ post.auther.name }}</a> </p>
    </div>
    <hr>
    
    <!-- Like a post -->
    {% if user.is_authenticated %}
    <form action="{% url 'blogpost_like' object.id %}" method="POST" class="post-like">
        {% csrf_token %}
        {% if post_is_liked %}
            <button type="submit" name="blogpost_id" value="{{ object.id }}" class="post-unlike-link">
                <i class="fa-regular fa-heart"></i> Unlike</button>
        {% else %}
            <button type="submit" name="blogpost_id" value="{{ object.id }}" class="post-like-link">
                <i class="fa-regular fa-heart"></i> Like</button>
        {% endif %}
       
    </form>
    {% else %}
        <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
    {% endif %}
    <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
   

    <hr>

    <!-- Comment section -->
    <div class="comment">
        <h1>{{ comments_count }} comments</h1>
        {{ msg }}

        <!-- user comments -->
        {% if user.is_authenticated %}
        <form class="comment-form" method="POST">
            {% csrf_token %}
            <img class="blog-img" src="{{ post.auther.photo.url }}" alt="User Logo">
            <div class="comment-form-right">
                <textarea name="body" placeholder="Your Comment..."></textarea>
                <button class="comment-btn" type="submit"><i class="fa-solid fa-paper-plane"></i> Send </button>
            </div>
        </form>
        {% else %}
        <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
        {% endif %}
       

        <div class="reply">
            {% for comment in comments %}
            <div class="comment-reply">
                <div class="comment-header">
                    <img class="comment-blog-img" src="{{ comment.auther.photo.url }}" alt="User Logo">
                    <div class="comment-header-right">
                        <a href="#" class="comment-header-right-name">@{{ comment.auther.name }}</a>
                        <div class="comment-header-right-date">{{ comment.created_at|timesince }} </div>
                    </div>
                </div>
                <p class="comment-details">{{ comment.body|title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}


<!-- right page -->
{% block right_page %}
<section class="sidebar">
    
    <!-- search -->
    <form class="search-form" action="/" method="GET">
        <input type="text" name="search" placeholder="Search Articles, Category...">
        <input type="submit" value="Search">
    </form>

    <!-- sidebar  -->
    <div class="sidebar-title">
        Categories
    </div>
    <div class="badges">
        {% for cat in cats %}
        <a href="?search={{cat.name}}" class="badges-link">{{ cat.name|title }}</a>
        {% endfor %}
    </div>

</section>
{% endblock %}
