/* main page */
.blog-section {
  display: grid;
  gap: 16px;

}

.blog {   
  background-color: white;
  width: 700px;
  padding: 10px 10px;
}

.blog-left {
  width: 90px;
  display: flex;
}

.blog-left img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

 
.blog-header {
  display: flex;
  align-items: baseline;
  padding-bottom: 3px;
  width: 100%;
}

.blog-header a {
  font-size: 13px;
  color: #408cef;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.125s, text-decoration 0.125s;
}

.blog-header a:hover {
  color: #1e72df;
  text-decoration: underline;
}

.blog-header p {
  margin: 0;
  font-size: 13px;
  color: rgb(137, 134, 134);
}

.blog-body {
  width: 100%;
}

.blog-title {
  color: #408cef;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.blog-subtitle {
  font-size: 16px;
  margin-top: 5px;
}

.blog-description {
  font-size: 14px;
  margin-top: 10px;
  line-height: 150%;
}


/* pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid lightgray;
  background-color: white;
  padding: 10px 8px;
}
 

.pagination .active {
  color: rgb(17, 24, 29);
}

.pagination .disabled {
    color: rgb(17, 24, 29);
}

.pagination li {
    color: black;
    font-size: 16px;
    padding: 8px 10px;
}

.pagination li a {
  color: #408cef;
}
 


/* view post */
.blog-view {
  border: 1px solid lightgray;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  width: 700px;
}

.blog-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}


.blog-view-header p {
  font-size: 12px;
  color: rgb(135, 127, 127);
}

.blog-view-body {
  margin: 20px 0;
}

.blog-view-body .blog-subtitle {
  font-size: 16px;
  font-weight: 500;
}

.blog-view-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.blog-view-footer p {
  font-size: 12px;
}
