.post-section {
    border: 1px solid lightgray;
    background-color: white;
    padding: 20px;
}

label {
    display: block;
}

.save-btn {
    background-color: rgb(61, 125, 229);
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 16px;

}

.save-btn:hover {
    background-color: rgb(45, 107, 207);
}

.cancel-btn {
    background-color: rgb(231, 234, 240);
    color: black;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 14px;
}

.cancel-btn:hover {
    background-color: rgb(212, 217, 227);
}

input[type=text],
textarea {
    width: 100%;
    padding: 5px 6px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-family: Roboto, sans-serif;
}

select {
    border-radius: 3px;
    border: 1px solid lightgray;
    font-family: Roboto, sans-serif;
}
.form-title{
    margin: 10px 0;
}

.error-text {
    color: red;
}

