
header {
    background-color: #6A899D;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}

.header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

.header img {
    height: 30px;
}

.navbar {
    display: flex;
}

.navbar li a {
    padding: 0 10px;
    color: white;
    transition: all 0.2s ease;
}

.navbar li a:hover {
    color: #c2ccd9;
}
