
.sidebar {
    display: grid;
    gap: 10px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}


.search-form input[type=text] {
    padding: 5px 8px;
    border: none;
    border: 1px solid lightgray;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    transition: all 0.2s ease;
}

.search-form input[type=text]::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.search-form input[type=submit] {
    padding: 6px;
    margin-left: 3px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    transition: all 0.2s ease;
}

.search-form input[type=submit]:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
    
}

.sidebar-block {
    margin-bottom: 10px;
}

.sidebar-block a {
    font-size: 10px;
    padding: 4px 8px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.sidebar-block a:hover {
    color: lightgray;
}

.not-found {
    margin: 0 auto;
    margin-top: 8rem;
    color: #2f719a;
    text-transform: capitalize;
}

