 
   

    .post-tool-link {
        padding: 10px 8px;
        color: lightblue;
    }

    .post-tool-link .active{
        padding: 10px 8px;
        color: lightskyblue;
    }

    textarea {
        border: 1px solid lightgray;
        border-radius: 5px;
        height: 100px;
        width: 100%;
        padding: 5px;
        font-family: Roboto, Arial;
    }

    textarea::placeholder {
        color: #403535;
        font-size: 15px;
    }

    .avatar {  
        overflow:hidden;   
    }

    .user-icon {
        border-radius: 4em;
        border: 1px solid skyblue;
        height: 2em;
        width: 2em;
        background: none;   
    }

    .user-icon{
      border-radius:4em; border:1px solid skyblue;
      height:2em; width:2em;  
      background:none;padding:0.1em;  
  }

  .comment-form {
      display: flex;
      
  }

  .comment-reply {
    margin: 20px 30px;
    border: 1px solid #dedada;
    border-radius: 5px;
    padding: 10px;
}

.comment-details {
  font-size: 14px;
  
}

.reply {
    margin-left: 10px;
    padding: 10px;
}

.comment-form-right {
    margin-left: 10px;
    width: 100%;

}

.comment-btn {
    padding: 6px;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.25s ease;
    margin-top: 6px;
}

.comment-btn:hover {
    background-color: black;
    color: white;
}

.comment-blog-img {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.comment-header {
    display: flex;
    align-items: start;
}

.comment-header-right {
    margin-left: 10px;
}

.comment-header-right-name {
    font-size: 12px;
    font-family: Roboto, Arial;
   font-weight: 500;
}

.comment-header-right-date {
    font-size: 10px;
    color: rgb(185, 181, 181);
}

.post-like-link {
    font-size: 20px;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    background-color: unset;
    text-align: center;
    
}

.post-like-link:hover {
     color: white;
     background-color: black;
}
.post-unlike-link {
    font-size: 20px;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    color: white;
    background-color: black;
    text-align: center;
    
}

.post-unlike-link:hover {
    background-color: white;
     color: black;
}

.post-tool {
   text-align: center;
}

.post-like {
    margin: 10px auto;
    text-align: center;
}
 